<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Level</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
    {{#iter logs}}
      <tr>
        <th scope="row"> {{i}} </th>
        <td>{{ level }}</td>
        <td>{{ timestamp }}</td>
        <td>{{ message }}</td>
      </tr>
    {{/iter}}
  </tbody>
</table>